* {
    box-sizing: border-box;
}

html, body, #root, #root>div {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.35rem;
    background-color: #eeeeee;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Previewer {
    display: flex;
    width: 94%;
    height: 70%;
}

#inputForm {
    position: sticky;
    top: 100px;
}

.Previewer__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
    position: relative;
}

.Previewer__header > p {
    margin: 0;
}

.Previewer__button {
    display: block;
    padding: .5rem .9rem;
}

.Previewer__success {
    font-size: .8rem;
    background-color: rgb(53, 177, 49);
    color: white;
    padding: .1rem .5rem;
    border-radius: .4rem;
}

.Previewer__section {
    width: 50%;
    margin: 0 1rem;
    padding: 1rem;
}


#editor {
    width: 100%;
    height: 30rem;
    padding: .75rem .9rem;
    resize: vertical;
    overflow: auto;
    font-family: inherit;
    font-size: .9rem;
    line-height: 1.25rem;
    border-radius: .4rem;
    border: 1px solid #bbb;
    box-shadow: 0 .3rem .8rem 0 rgba(0,0,0,.25);
}

#preview {
    overflow:scroll;
    overflow-wrap: break-word;
}